# Ignora tutto
*

# Ma non le cartelle che ci servono
!analyses/
!analyses/**
!clam_pipeline/
!clam_pipeline/**
!tracking_from_video/
!tracking_from_video/**

# E non i file singoli
!clamutils_exp.py
!count.py
!run_pipeline.py
!diagnostica.ipynb

# E non il .gitignore stesso
!.gitignore
